$cssPath: '../../assets/css/';
$scssPath: '../../assets/scss/';
$imgPath: '../../assets/img/';
/* for example: background-image : url($imgPath + 'faces/avatar.jpg') */
$fontPath: '../../assets/font/';
